{%extends 'base.html'%}

{%block content%}
<div class="row">
	<div class="col-md-12"><h1>Edit Comment</h1>
	</div>
</div>
<form method="post">
<div class="form-group">

<label>Edit Comment</label><br>
<textarea class="form-control col-md-12" name="content">{{comment.content}}</textarea>	
<div class="row">
	<div class="col-md-12 error">	{{error_content}}	</div>
</div>
	<div class="col-md-12"><input type="submit" value="Save"><a class="button" href="{{sourceUrl}}">Get Back</a></div>
</form>
</div>
{%endblock%}